// Colors
$veryDarkGreen : #081C15;
$darkGreen:#2D6A4F;
$green:#52B788;
$lightGreen:#95D5B2;
$veryLightGreen:#E4F5E7;
$yellow:#F4F269;
$darkYellow:#9F9E23;
$white:#fff;

// Fonts
$fontJosefin:'Josefin Sans', sans-serif;
$fontGothic:'Dela Gothic One', cursive;
$fontQuattrocento:'Quattrocento Sans', sans-serif;
$fontQuatroBook : 'Quatro Book';
$fontQuatro: 'Quatro';

//
$border5px: 5px;
$transition: all .25s ease-in-out;
$lineHeight:1.3;