.writings{
    padding-top: 2rem;
    padding-bottom: 2rem;
    &-heading{
        font-weight: bolder;
        margin-bottom: 2rem;
    }
    &-description{
        line-height: 1.5;
        letter-spacing: .8px;
        font-weight: 400;
        margin-bottom: 2rem;
    }
}