* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $veryDarkGreen;
    font-family: $fontQuatro;
    color: $white;
    overflow-x: hidden;
    letter-spacing: .3px;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

main{
    padding-top:6rem;
}

.container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.divider{
    border: 1px dashed rgba(199, 201, 88, .2);
}